body{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 2px solid black;
    height: 500px;
    width: 500px;

}

button{
    height: 100px;
    width: 100px;
    margin: 1px;
    border-radius: 20px;
}